<div class="footer-container">
  <footer>
    <div class="follow-us">
      <p>Síguenos en:</p>
    </div>

    <div class="social-media">
      <a href="https://www.apple.com" target="_blank" rel="noopener noreferrer" class = "a__facebook">
        <fa-icon [icon]="faFacebook" class="icon"></fa-icon> 
        <span>Facebook</span>
      </a>
      <a href="https://www.apple.com" target="_blank" rel="noopener noreferrer" class = "a__instagram">
        <fa-icon [icon]="faInstagram" class="icon"></fa-icon> 
        <span>Instagram</span>
      </a>
      <a href="https://www.apple.com" target="_blank" rel="noopener noreferrer" class = "a__youtube">
        <fa-icon [icon]="faYoutube" class="icon"></fa-icon> 
        <span>Youtube</span>
      </a>
      <a href="https://www.apple.com" target="_blank" rel="noopener noreferrer" class = "a__tiktok">
        <fa-icon [icon]="faTiktok" class="icon"></fa-icon> 
        <span class = "a__span">TikTok</span>
      </a>
    </div>

    <div class="contact-info">
      <p>Punto de contacto en Vitoria:</p>
      <p>Calle Francia, 23 Bajo CP:01001 Vitoria-Gasteiz</p>
      <p>Email: iosu@gmail.com</p>
      <p>Teléfono: 945 258 317</p>
    </div>

    <div class="copyright">
      <p>&copy; 2023 Tienda de Iosu. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
