<div class="filters">
  <input type="text" [(ngModel)]="nombreFilter" placeholder="Filtrar por nombre" class="filter-input">
  <input type="text" [(ngModel)]="marcaFilter" placeholder="Filtrar por marca" class="filter-input">
  <div class="button-container">
    <button (click)="applyFilters()" class="filter-button">Aplicar filtros</button>
    <button (click)="clearFilters()" class="filter-button">Borrar filtros</button>
  </div>
</div>

<ul class="product-list">
  <li *ngFor="let product of productList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
    <div class="product-container">
      <img src="{{product.imagen}}" alt="{{product.marca}}">
      <div class="product-info">
        <h4>{{product.marca}}</h4>
        <h4>{{product.tipo}}</h4>
        <h4>{{product.nombre}}</h4>
        <h4>{{product.precio}}€</h4>
      </div>
      <div class="button-container">
        <button routerLink='/listado/{{product.id}}'>Ver más</button>
        <button (click)="deleteProduct(product.id)">Eliminar producto</button>
        <button class="button-modificator" routerLink="/modificarproducto/{{product.id}}">Modificar información</button>
      </div>
    </div>
  </li>
</ul>

<div class="pagination-container">
  <pagination-controls (pageChange)="pageChanged($event)" class="pagination" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  <button (click)="showAllProducts()" class="view-all-button">Ver todos</button>
</div>