<div class="home-container">
    <div class="image-container">
      <h1>Bienvenido a la tienda electrónica de Iosu</h1>
      <p>Explora nuestra amplia selección de artículos de electrónica para satisfacer tus necesidades tecnológicas. Ya sea que estés buscando un nuevo televisor, un smartphone de última generación o una cámara profesional, aquí encontrarás todo lo que necesitas para mantenerte conectado y disfrutar de la mejor experiencia tecnológica.</p>
    </div>
    <button routerLink="/listado">Ver listado de productos</button>
    <div class="quote-container">
      <blockquote class="quote">
        <img src="../../../assets/steve.jpg" alt="Imagen de muestra" class="steve-image">
        <div class="quote-text">
          <p>"La innovación es lo que distingue a un líder de los demás".</p>
          <cite>— Steve Jobs</cite>
        </div>
      </blockquote>
    </div>
  </div>
  