<div class="contact-element">
    <h2>Contacto</h2>
    <p>Para consultas relacionadas con el servicio técnico, contáctenos a través de los siguientes medios:</p>
  
    <div class="contact-info">
      <p><strong>Teléfono:</strong> 945 872515 </p>
      <p><strong>Correo electrónico:</strong> support_shop@gmail.com</p>
      <p><strong>Horario de atención:</strong> Lunes a viernes, de 9:00 a.m. a 5:00 p.m.</p>
      <img src="../../../assets/Shopping cart_Isometric.svg" alt="Contacto" width="200">
    </div>
  
    <h3>Envíe un correo electrónico</h3>
  
    <form id="contactForm" action="mailto:support_shop@gmail.com" method="post" enctype="text/plain">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
  
      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" required>
  
      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" required></textarea>
  
      <button type="submit">Enviar</button>
    </form>
  </div>
  